@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #fff;
  --font: #000;
  --shadow: rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------- */
/* this is dark mode theme colors */

.Dark {
  --main: #000;
  --font: #fff;
  --shadow: rgba(255, 255, 255, 0.9);
}

body {
  background-color: var(--main);
}
